<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="springRestBase">
		<property name="context-root" value="springRestBase"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/java"/>
	</wb-module>
</project-modules>
